/*Noto Sans KR*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap');

html,body {
	margin: 0;
	padding: 0;
    resize: both;
	overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.card {
	width: 230px;
    height: 250px;   /* 250px*/
    padding: 18px;   /* 25px*/
    border-radius: 5px;
    opacity: 0.94;
    color: #F8ECDE;
    font-size: 16px;
    line-height: 120%;
    background-color: #ff6600;
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
    border: 1px solid  #ff6600;
}

.grid-container{
    display: grid;
    height:100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2rem;
    justify-items: center;
    align-items: center;
}